
<div class="banner">
  <div class="banner-text">
    <h1>Welcome to Trendify </h1>
    <p>Your source for the latest trends!</p>
  </div>
</div>

<li class="nav-item">
            <a class="nav-link" [routerLink]="'/'">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'item'">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'createitem'">Create item</a>
          </li>
  
   <router-outlet></router-outlet> 