<div class="create-item-form">
    <h2>Create New Item</h2>
    <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
      <!-- Input fields for item creation -->
      <label for="title">Title:</label>
      <input type="text" id="title" required [(ngModel)]="newItem.title" name="title" />
  
      <label for="description">Description:</label>
      <textarea id="description" required [(ngModel)]="newItem.description" name="description"></textarea>
  
      <label for="price">Price:</label>
      <input type="number" id="price" required [(ngModel)]="newItem.price" name="price" />
  
      <label for="image">Image URL:</label>
      <input type="text" id="image" required [(ngModel)]="newItem.image" name="image" />
  
      <!-- <label for="rating">Rating:</label>
      <input type="number" id="rating" required [(ngModel)]="newItem.rating.rate" name="rating" />
  
      <label for="reviews">Reviews:</label>
      <input type="number" id="reviews" required [(ngModel)]="newItem.rating.count" name="reviews" /> -->

      
      <button type="submit" >Create Item</button>
    </form>
  </div>
  